@font-face {
    font-family: "poppins";
    src: url(assets/fonts/Poppins-Regular.ttf);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  main {
    width: 842px;
    height: 651px;
    background-color: white;
    border-radius: 1rem;
    border-radius: 2rem 2rem 14rem 2rem;
  }
  
  .container {
    width: 727px;
    position: relative;
  }
  
  .container > div {
    width: 634px;
    display: flex;
    justify-content: space-between;
    margin-left: 58px;
    margin-top: 58px;
  }
  
  div.input-block {
    width: 168px;
  }
  
  div.input-block,
  div.input-block input {
    color: #8a8a8a;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  div.input-block input {
    font-size: 32px;
    width: 158px;
    border: 1px solid #ececec;
    border-radius: 4px;
    padding-left: 24px;
    height: 70px;
    width: 159px;
    margin-top: 14px;
    border-radius: 10px;
  }
  
  hr {
    width: 100%;
    margin-left: 58px;
    margin-top: 50px;
    color: #ececec;
  }
  
  div#calcBtn {
    background-color: #874cfc;
    border-radius: 50%;
    width: 97px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 77px;
    left: 90%;
    cursor: pointer;
  }
  
  div#calcBtn:hover {
    background-color: black;
    transition: all ease-in-out 0.2s;
  }
  
  div.input-block input {
    color: black;
  }
  
  .result-block {
    margin-left: 68px;
  }
  
  .result-block span:nth-of-type(1) {
    color: #874cfc;
    font-weight: bold;
    font-size: 5rem;
    font-style: italic;
    margin-right: 2rem;
  }
  
  .result-block span:nth-of-type(2) {
    color: black;
    font-weight: bold;
    font-size: 5rem;
    font-style: italic;
    margin-right: 2rem;
  }
  
  span.error_message {
    color: red;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0px;
  }